.description {
  font-size: 26px;
}

.owners {
  position: absolute;
  top: 20%;
  font-size: 16px;
}

.service-nav {
  font-size: 20px;

  .nav-link {
    color: #000;
  }
}

.quality-attribute {
  .card-header {
    font-size: 22px;
    background-color: transparent;
    border-bottom: transparent;

    i {
      margin-right: 5px;
      font-size: 23px;
      font-weight: 900;
    }


    .text-success {
      a { color: #6bd098 !important; }
    }
  }

  .attribute-content {
    display: flex;
    justify-content: space-between;

    .down-icon {
      color: #aaa;
    }
  }
}

.services {
  .service {
    padding: 2em 2em;
    background: #FFFFFF;
    box-shadow: 0 0 1px 0 rgba(43, 59, 124, 0.18), 0 1px 3px 0 rgba(43, 59, 125, 0.14);
    border-radius: 2px;
    margin: 0;

    &:hover {
      background: #f8f9fb;
    }

    .service-base {
      .service-title {
        font-size: 26px;
      }

      .service-tags {
        span {
          font-size: 12px;
          padding: 0.5em .8em;
          margin-right: 5px;
        }
      }

    }

    .service-languages {
      span {
        font-size: 12px;
        padding: 0.5em .8em;
        margin-bottom: 5px;
      }
    }

    .service-readiness {
    }
    .service-classification {
    }
    .service-score {
    }
  }
}

.service-information {
  margin-bottom: 1%;

  .title{
    font-size: 16px;
  }

  .value{
    font-size: 16px;

    a {
      color: #000;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
