html {
    height: 100%;
}

.sidebar {
  .simple-text {
    text-align: center;
  }
  .sidebar-wrapper {
    .active {
      a { color: #000; }
    }
  }
}

.navbar {
  background-color: #f3f8fe;
  border-bottom: 1px solid #DDDDDD;

  .navbar-header {
    .navbar-brand {
      a {
        color: #000!important;
        vertical-align: initial;
      }
    }
  }

  .dropdown {
    cursor: pointer!important;

    .nc-icon {
      top: 4px;
      font-size: 20px!important;
    }
  }

  .navbar-email {
    margin: 0 7px!important;
  }

  .breadcrumb {
    background-color: transparent;
    margin: 0;
    padding: 0;
  }
}

.main-container {
  align-items: stretch;
  min-height: 100%;
}

.container-content {
  margin-top: 2%;
}

.quality-attribute {
  .card-header {
    font-size: 22px;
    background-color: transparent;
    border-bottom: transparent;

    i {
      margin-right: 5px;
      font-size: 23px;
      font-weight: 900;
    }


    .text-success {
      a { color: #6bd098 !important; }
    }
  }
}
