html {
    height: 100%;
}

.main-container {
  align-items: stretch;
  min-height: 100%;
}

.container-content {
  margin-top: 2%;
}

@import 'sidebar_and_topbar';
@import 'services';
@import 'organisations';
@import 'settings';

.integraion {
  .token {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 900;
  }
}

.empty-services {
  font-size: 18px;

  a {
  }
}
