html {
    height: 100%;
}

.sidebar {
  .simple-text {
    text-align: center;
  }
}

.navbar {
  background-color: #f3f8fe;
  border-bottom: 1px solid #DDDDDD;

  .navbar-header {
    .navbar-brand {
      a {
        color: #000!important;
        vertical-align: initial;
      }
    }
  }

  .dropdown {
    cursor: pointer!important;

    .nc-icon {
      top: 4px;
      font-size: 20px!important;
    }
  }

  .navbar-email {
    margin: 0 7px!important;
  }

  .breadcrumb {
    background-color: transparent;
    margin: 0;
    padding: 0;
  }
}

.main-container {
  align-items: stretch;
  min-height: 100%;
}

.container-content {
  margin-top: 2%;
}

